/* tag-based selectors */
body{
  text-align: center;
  background-color: #2C3333;
  color: #76BA99;
  font-family: 'Shadows Into Light', cursive;

}
h1{
  padding: 25px 10px 15px;
  font-size: 6rem;
  font-family: 'Mouse Memoirs', sans-serif;
  font-weight: bold;
}
h2{
  font-family: 'Mouse Memoirs', sans-serif;
  font-weight: bold;
  font-size: 3rem;

}
img{
  height: 200px;
  width: 200px;
}
/* class-based selector */
.container-fluid{
  margin-left: 220px;
  padding-top: 20px;
}
.btn{
  width: 25%;
  margin-top: 50px;
  font-size: 2rem;
}
